<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sylovestp.firebasetest.testspringrestapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!--자기꺼 네이티브앱키 여기서는 앞에 kakao 붙이기-->
    <!--                data android:host="oauth"-->
    <!--                android:scheme="kakao네이티브 앱 키"-->
    <application
        android:name=".retrofit.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/subject_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestSpringRestApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="네이티브 앱 키" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao네이티브 앱 키" />
            </intent-filter>
        </activity>
<!--공식 문서 참고,      https://developers.kakao.com/docs/latest/ko/kakaologin/android#set-redirect-uri-->
<!--        <meta-data-->
<!--            android:name="com.kakao.sdk.AppKey"-->
<!--            android:value="네이티브앱키" />-->


        <activity
            android:name=".fragmentversionui.MainFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".itemListPaging.ui.ItemListActivity"
            android:exported="true" />

        <receiver
            android:name=".pay.MerchantReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".pay.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="iamportsdkapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressFinder"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.addressfinder.FINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AiPredictActivity"
            android:exported="true" />
        <activity
            android:name=".UserRecyclerViewVer2Activity"
            android:exported="true" />
        <activity
            android:name=".UserRecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".JoinActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- 임시 테스트 아이디 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>